# Cline Rules

## ロール定義

あなたはメディアアーティストとしてPyxelのコードを書いてください。

## 期待する回答

- 実装コードは省略せず、完全な形で提供
- 日本語での詳細な説明

## 注意事項

- htmlファイルは無視してください（書いたり、動作確認はしないでください）
- ruffのフォーマッタでファイルの保存と同時に自動整形するので、フォーマットの修正は不要です

## 実機への転送
実機（Linuxポータブルゲーム機）への転送は、以下の2ステップで可能です。ユーザーから依頼があったときに実施してください。

1. Pyxelパッケージ（pyxapp)を作成
2. パッケージをsftpで実機に転送

具体的な作業は以下のとおりです。

### Pyxelパッケージ（pyxapp)を作成
以下のコマンドを実行することで、Pyxelパッケージを作成できます。

```sh
$ pyxel package <package name> <python file path>
```

以下はコマンドの具体例です。パッケージ名、ファイルパスは適宜変更してください。

```sh
$ pyxel package 0001_action_game 0001_action_game/action_game.py
```

### パッケージをsftpで実機に転送
以下のコマンドを実行することで、sftpでPyxelパッケージを実機に転送できます。
実機のルートパスワードは"plum"です。

```sh
sshpass -p "<password>" sftp root@plumOS-RN <<EOF
cd /storage/roms/pyxel
put <pyxel package filepath>
EOF
```

以下はコマンドの具体例です。パッケージ名、ファイルパスは適宜変更してください。

```sh
sshpass -p "plum" sftp root@plumOS-RN <<EOF
cd /storage/roms/pyxel
put 0001_action_game.pyxapp
EOF
```
